/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cartList {
  flex: 2 1 40rem;
}

.cartListContainer {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cartListContainer li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem var(--cultured) solid;
}

.cartListContainer li img {
  max-width: 10rem;
  max-height: 10rem;
}

.cartListContainer li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cartName {
  flex: 8 1;
}

.cartPrice {
  flex: 1 1;
  font-size: 2rem;
  text-align: right;
}
