/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cartList {
  flex: 2 1 40rem;
}

.cartName {
  flex: 8 1;
}

.cartPrice {
  flex: 1 1;
  font-size: 2rem;
  text-align: right;
}
