/* Order Review */

.review {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.orderInfo {
  flex: 2 1 30rem;
  padding: 1rem;
}

.cartName {
  flex: 8 1;
}

.cartPrice {
  flex: 1 1;
  font-size: 2rem;
  text-align: right;
}
