/* Header */

.header {
  grid-area: header;
  background-color: var(--oxford-blue);
  color: var(--platinum);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--platinum);
}

.header-links a {
  color: var(--platinum);
  text-decoration: none;
  padding: 0.5rem;
}
.header-links a:hover {
  color: var(--orange-web);
  text-decoration: none;
}

/* Main  */

.main {
  grid-area: main;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--orange-web);
}

button {
  font-size: 1.5rem;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 30rem;
  border-bottom: 0.1rem var(--platinum) solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-image {
  max-width: 20rem;
  max-height: 20rem;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
}

.product-brand {
  font-size: 1.2rem;
}

.product-price {
  font-size: 2rem;
  font-weight: bold;
}

.product-rating {
  margin-bottom: 1rem;
}

/* Product Details */

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 20rem;
  align-self: center;
  padding: 1rem;
}

.details-image img {
  max-width: 20rem;
  width: 100%;
}
.details-info {
  flex: 3 1 15rem;
  padding: 1rem;
}
.details-action {
  flex: 1 1 15rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.back-to-results {
  padding: 1rem;
}

.details-action {
  border: 0.1rem var(--black) solid;
  border-radius: 0.5rem;
  background-color: var(--platinum);
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: 0.1rem var(--platinum) solid;
  cursor: pointer;
}

.button:hover {
  border: 0.1rem var(--black) solid;
}

.button.primary {
  background-color: var(--orange-web);
}

/* Footer */

.footer {
  grid-area: footer;
  background-color: var(--oxford-blue);
  color: var(--orange-web);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: var(--platinum);
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: var(--platinum);
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem var(--black) solid;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 2 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  border: 0.1rem var(--black) solid;
  border-radius: 0.5rem;
  background-color: var(--platinum);
  padding: 1rem;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container button {
  padding: 0.25rem;
  border: 0.1rem var(--platinum) solid;
  cursor: pointer;
  font-size: 0.5rem;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem var(--platinum) solid;
}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image {
  flex: 1 1;
}

.cart-name {
  flex: 8 1;
}

.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* Login Form */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form ul {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem var(--platinum) solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.login-form li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem var(--platinum) solid;
  border-radius: 0.5rem;
}
