/* Header */

.header {
  grid-area: header;
  background-color: var(--oxford-blue);
  color: var(--platinum);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--platinum);
}

.header-links a {
  color: var(--platinum);
  text-decoration: none;
  padding: 0.5rem;
}
.header-links a:hover {
  color: var(--orange-web);
  text-decoration: none;
}

/* Main  */

.main {
  grid-area: main;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--orange-web);
}

button {
  font-size: 1.5rem;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

/* Footer */

.footer {
  grid-area: footer;
  background-color: var(--oxford-blue);
  color: var(--orange-web);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: var(--platinum);
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: var(--platinum);
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem var(--black) solid;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
