@import-normalize;

#root {
  height: 100vh;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Global Palette */
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --cultured: #f2f2f2;
  --silver-chalice: #adadad;
  --white: #ffffffff;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td {
  padding: 0.5rem;
}

tbody > tr:nth-child(odd) {
  background-color: var(--cultured);
}
