/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}

.checkout-steps > div {
  border-top: 0.3rem var(--silver-chalice) solid;
  color: var(--silver-chalice);
  flex: 1 1;
  padding-top: 1rem;
}

.checkout-steps > div.active {
  border-top: 0.3rem var(--orange-web) solid;
  color: var(--black);
}
