/* Checkout Steps */

.checkoutSteps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 22rem;
  margin: 1rem auto;
}

.checkoutSteps > div {
  border-top: 0.3rem var(--silver-chalice) solid;
  color: var(--silver-chalice);
  flex: 1 1;
  padding-top: 0.5rem;
  text-align: center;
}

.checkoutSteps > div.active {
  border-top: 0.3rem var(--orange-web) solid;
  color: var(--black);
}
