/* Edit Products Form */

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.addProductForm ul {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem var(--cultured) solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.addProductForm li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem var(--cultured) solid;
  border-radius: 0.5rem;
}

.productHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contentWithMargin {
  margin: 1rem;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td {
  padding: 0.5rem;
}

tbody > tr:nth-child(odd) {
  background-color: var(--cultured);
}
