/* Product Details */

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 20rem;
  align-self: center;
  padding: 1rem;
}

.details-image img {
  max-width: 20rem;
  width: 100%;
}
.details-info {
  flex: 3 1 15rem;
  padding: 1rem;
}
.details-action {
  flex: 1 1 15rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.back-to-results {
  padding: 1rem;
}

.details-action {
  border: 0.1rem var(--black) solid;
  border-radius: 0.5rem;
  background-color: var(--platinum);
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: 0.1rem var(--platinum) solid;
  cursor: pointer;
}

.button:hover {
  border: 0.1rem var(--black) solid;
}

.button.primary {
  background-color: var(--orange-web);
}
