/* Product Details */

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.detailsImage {
  flex: 2 1 20rem;
  align-self: center;
  padding: 1rem;
}

.detailsImage img {
  max-width: 20rem;
  width: 100%;
}
.detailsInfo {
  flex: 3 1 15rem;
  padding: 1rem;
}
.detailsAction {
  flex: 1 1 15rem;
}

.detailsInfo ul,
.detailsAction ul {
  list-style-type: none;
  padding: 0;
}
.detailsInfo li,
.detailsAction li {
  margin-bottom: 1rem;
}

.backToResults {
  padding: 1rem;
}

.detailsAction {
  border: 0.1rem var(--black) solid;
  border-radius: 0.5rem;
  background-color: var(--cultured);
  padding: 1rem;
}

.detailsAction ul li:last-child {
  display: flex;
  flex-direction: column;
}
