/* Home Page */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 20rem;
  margin: 1rem;
  height: 30rem;
  border-bottom: 0.1rem var(--cultured) solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.productImage {
  max-width: 18rem;
  max-height: 18rem;
}

.productName {
  font-size: 1.5rem;
  font-weight: bold;
}

.productBrand {
  font-size: 1.2rem;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
}

.productRating {
  margin-bottom: 1rem;
}
