/* Main  */

:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --spanish-gray: #8f8f8f;
  --white: #ffffffff;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.main {
  grid-area: main;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--orange-web);
}

button {
  font-size: 1.5rem;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}
