/* Main  */

.gridContainer {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 10rem;
  height: 100%;
}

.main {
  grid-area: main;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--orange-web);
}

.fullWidth {
  width: 100%;
}

.text-center {
  text-align: center;
}
