/* Header */

.header {
  grid-area: header;
  background-color: var(--oxford-blue);
  color: var(--cultured);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--cultured);
}

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: var(--cultured);
  cursor: pointer;
}

.header-links a {
  color: var(--cultured);
  text-decoration: none;
  padding: 0.5rem;
}
.header-links a:hover {
  color: var(--orange-web);
  text-decoration: none;
}
