/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: var(--platinum);
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: var(--platinum);
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem var(--black) solid;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
